<div class="d-flex flex-column">
    <div class="d-flex gap-3 p-5">
        <% posts.forEach((post) => { %>
            <div class="card p-3 border-black shadow">
                <h2><%= post.title %></h2>
                <p><%= post.message %></p>
                <% if(isMember) { %>
                    <p><%= post.timestamp %></p>
                    <p><%= post.f_name %> <%= post.l_name %></p>
                <% } else { %>
                    <p>Only members can view the authors and the creation date</p>
                <% } %>
    
                <% if(isAdmin) { %>
                    <form action="/delete-post/<%= post.id %>" method="POST">
                        <button type="submit">Delete Post</button>
                    </form>
                <% } %>
    
            </div>
        <% }) %>
    </div>
</div>